tikz/*.md5
tikz/*.pdf
tikz/*.log
tikz/*.dep
tikz/*.dpth
thesis.pdf
thesis.out
thesis.toc
thesis.log
thesis.lof
thesis.fls
thesis.fdb_latexmk
thesis.blg
thesis.bbl
thesis.auxlock
thesis.aux
thesis.1.blg
thesis.1.bbl
thesis.1.aux
thesis.lot
*.tex.swp
